[submodule "Conjugate_Gradient_with_MPI_and_OpenMP"]
	path = Conjugate_Gradient_with_MPI_and_OpenMP
	url = https://github.com/tgolubev/Conjugate_Gradient_with_MPI_and_OpenMP.git
[submodule "hpcg"]
	path = hpcg
	url = https://github.com/hpcg-benchmark/hpcg
[submodule "Cuda-Matrix-Multiplication"]
	path = Cuda-Matrix-Multiplication
	url = https://github.com/kberkay/Cuda-Matrix-Multiplication.git
